@using EntityLayer.Concrete
@model Service
@{
    ViewData["Title"] = "Edit Service";
}

<div class="card my-4">
    <div class="card-header">
        <div class="row">
            <div class="col-6 d-flex align-items-center">
                <h6 class="mb-0">Edit Product Category</h6>
            </div>
        </div>
    </div>

    <div class="card-body">
        @using (Html.BeginForm("Edit", "Service", FormMethod.Post))
        {
            @Html.HiddenFor(x=>x.ServiceId)
            <div class="row">
                <div class="col-md-12">
                    <div class="input-group input-group-outline my-3">
                        @Html.TextBoxFor(x=>x.Name,new {@class="form-control"})
                    </div>
                    @Html.ValidationMessageFor(x=>x.Name,"",new{@style="color:red"})

                    <div class="input-group input-group-outline my-3">
                        @Html.TextBoxFor(x=>x.Description,new {@class="form-control"})
                    </div>
                    @Html.ValidationMessageFor(x=>x.Description,"",new{@style="color:red"})

                    <div class="input-group input-group-outline my-3">
                        @Html.TextBoxFor(x=>x.Price,new {@class="form-control"})
                    </div>
                    @Html.ValidationMessageFor(x=>x.Price,"",new{@style="color:red"})
                </div>
            </div>
            <br />
            <button class="btn btn-outline-warning" type="submit">Update</button>
        }
    </div>
</div>